h1 {
  font-size: 80px;
  color: #14274b;
}
h2 {
  font-size: 20px;
  color: #14274b;
}

h4 {
  font-size: 20px;
  font-weight: 200;
  color: #14274b;
}

p {
  font-size: 20px;
  color: #14274b;
}

ul {
  list-style: none;
  font-size: 20px;
  color: #14274b;
  padding: 0;
}

li {
  text-transform: capitalize;
  color: #14274b;
}

span {
  size: 80px;
  color: #14274b;
}

.temp-display {
  font-size: 80px;
  color: #14274b;
}
.units {
  position: relative;
  top: -46px;
}
.col {
  font-size: 30px;
  text-align: center;
  color: #14274b;
}

.card {
  margin-top: 80px;
  padding: 40px;
}

.search-bar {
  margin-bottom: 30px;
}

.today-emoji {
  font-size: 220px;
  text-align: center;
  align-items: center;
}

.form-control {
  border-radius: 30px;
}

.btn {
  border-radius: 30px;
  border-color: #b5d8df;
  background-color: white;
  color: #14274b;
}

.btn:hover {
  background-color: #b5d8df;
  border-color: #b5d8df;
}

.card {
  border-radius: 3.375rem;
}

.forecast-next-day {
  font-weight: 500;
}

.forecast-high-temperature {
  font-weight: 500;
  font-size: 16px;
}

.forecast-low-temperature {
  font-weight: 300;
  font-size: 16px;
}

.weather-forecast {
  font-size: 20px;
  text-align: center;
  margin: 20px;
}
